* {
    color: black;
    overflow: hidden;
}

body {

    background-image: url('../imgs/background_rainbow.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    align-content: center;
    display: flex;
    justify-content: start;
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
}

header h1 {
    color: white;
    margin: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8% 0;
    justify-self: center;
    background-color: rgba(198, 213, 216, 0.893);
    width: 25%;
    height: 300px;
    border: black 3px solid;
    border-radius: 8;
}

#home-display {
    width: 100%;
    height: 100%;
}

#home-display h2 {
    justify-self: center;
}

#home-display button {
    justify-self: center;
    align-self: center;
    height: 50px;
    width: 200px;
    margin: 4rem 5.5rem ;
    border: none;
    border-radius: 5;
    transition: 0.3s;
}

#home-display button:hover {
    background-color: rgb(187, 187, 187);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 7px 0px;
    gap: 7px;
}

footer p {
    color: white;
    margin: 0 5px;
}
